body {
  margin: 0 auto;
  padding-top: 40px;
}

h1,
h2,
h4 {
  color: #3d5467;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #3d5467;
}

p {
  font-family: "Poppins", sans-serif;
  color: #3d5467;
  font-size: 16px;
}

a {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  vertical-align: top;
}

.weather-app {
  border: 1px solid #95e1d3;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 700px;
  padding: 40px 50px;
}

.future-weather {
  padding: 20px 10px;
  border-radius: 10px;
  background-color: rgba(149, 225, 211, 0.4);
  margin: 0 auto;
}

.fa-cloud-sun {
  font-size: 80px;
  color: #fce38a;
  margin: 0 auto;
  padding: 20px 30px;
}

.fa-sun {
  font-size: 36px;
  color: #3d5467;
  margin: 0 auto;
  padding: 5px 10px;
}
